<button class="btn btn-primary">Add Button</button>
<button class="btn btn-primary">Update Button</button>
<button class="btn btn-primary">Delete Button</button>


<div class="w3-panel"></div>
<div class="w3-panel"></div>
<div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">  
<h2>Add a Transaction</h2></div>

<div class="container">
    <form action="/action_page.php">
<h3>Id: </h3><input type="number" [formControl]= "addId" placeholder="Id">
<h3>Name: </h3><input type="text" [formControl]="addName"placeholder="Name">
<h3>Brand: </h3><input type="text" [formControl]="addBrand"placeholder="Brand">
<h3>Purchase Date: </h3><input type="date" [formControl]="addPurchase"placeholder="Purchasedate">
<h3>Expiry Date: </h3><input type="date" [formControl]="addExpiry"placeholder="Expirationdate">
<h3>Notes: </h3><input type="text" [formControl]="addNotes"placeholder="Notes">
<button type="button" (click)="addItem()">Add</button>
<label id="SuccessLabel" style="visibility:hidden">Success! Your transaction has been added!</label>
</form>
</div>

<h3>Update</h3>

<div class="container2">
    <form action="/action_page.php">
<h3>Id: </h3><input type="number" [formControl]= "updateId" placeholder="Id">
<h3>Name: </h3><input type="text" [formControl]="updateName"placeholder="Name">
<h3>Brand: </h3><input type="text" [formControl]="updateBrand"placeholder="Brand">
<h3>Purchase Date: </h3><input type="date" [formControl]="updatePurchase"placeholder="Purchasedate">
<h3>Expiry Date: </h3><input type="date" [formControl]="updateExpiry"placeholder="Expirationdate">
<h3>Notes: </h3><input type="text" [formControl]="updateNotes"placeholder="Notes">
<button type="button" (click)="updateItem()">update</button>
<label id="SuccessLabel" style="visibility:hidden">Success! Your transaction has been updateed!</label>
</form>
</div>

<h4>Delete</h4>

<div class="w3-panel"></div>
<div class="w3-panel"></div>
<div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">  
<h2>Delete a Transaction</h2></div>

<div class="container3">
    <form action="/action_page.php">
        <h3>Id: </h3><input type="number" [formControl]= "deleteId"placeholder=" The item you want to remove">
<button type="button" (click)="DeleteItem()">Delete</button>
<label id="SuccessLabel" style="visibility:hidden">Success! Your transaction has been deleted!</label>
</form>
</div>