<button class="btn btn-primary">Add Button</button>
<button class="btn btn-primary">Update Button</button>
<button class="btn btn-primary">Delete Button</button>


<div class="w3-panel"></div>
<div class="w3-panel"></div>
<div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">  
<h2>Add a Transaction</h2></div>

<div class="container">
    <form action="/action_page.php">
<h3>Id: </h3><input type="number" [formControl]= "addId" placeholder="Id">
<h3>Name: </h3><input type="text" [formControl]="addName"placeholder="Name">
<h3>Brand: </h3><input type="text" [formControl]="addBrand"placeholder="Brand">
<h3>Purchase Date: </h3><input type="date" [formControl]="addPurchase"placeholder="Purchasedate">
<h3>Expiry Date: </h3><input type="date" [formControl]="addExpiry"placeholder="Expirationdate">
<h3>Notes: </h3><input type="text" [formControl]="addNotes"placeholder="Notes">
<button type="button" (click)="addItem()">Add</button>
<label id="SuccessLabel" style="visibility:hidden">Success! Your transaction has been added!</label>
</form>
</div>

  <style>
  input[type=text],input[type=number],input[type=date]{
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: 33%;
    background-color: red;
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #c41515;
}
form {
    border-radius: 7px;
    background-color: #6d6565;
    padding: 20px;
   
}
.container {
    padding: 10px 200px;
}
</style>